/* Google Fonts Monserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,800;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    font-weight: 300;
    background-color: #29335C;
}

/* Hero Section */

.hero-section h1 {
    font-weight: 800;
    font-size: 30px;
}

.hero-section h3 {
    font-weight: 800;
    font-size: 25px;
    font-style: italic;
}

.hero-section p, a {
    font-weight: 300;
    font-size: 18px;
}

.hero-section .information .info {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.hero-section .information .info i {
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
    margin-top: 10px;
}

/* Summary Section */

.summary {
    background-color: #29335C;
    color: white;
    background-size: cover;
}

.summary h1{
    font-weight: 800;
}

.summary p{
    font-weight: 800;
    font-style: italic;
}

/* Exerience section */

.experience h1 {
    font-weight: 800;
}

.experience h3, h5 {
    font-weight: 500;
}

.experience p, li {
    font-weight: 500;
    font-style: italic;
}

/* Portfolio */
/* Hero */

.image-portfolio img {
    border-radius: 20px;
    align-items: center;
}

.tech-skills {
    justify-content: start;
}